<h1> {{title}}  </h1>
    <h2>My Demons</h2>
        <ul class = "demons">
            <li *ngFor = 'let d of Demons' 
            [class.selected] = "demon === selectedDemon"
            (click) = "onSelect(demon)">
                <span class = "badge">{{d.id}} </span> {{d.name}}
            </li>
            </ul>

    <div *ngIf = "selectedDemon">
        <h2> {{selectedDemon.name}} details! </h2>
        <div><label>id:</label>{{selectedDemon.id}}</div>
    
    <div>
        <label>name:</label>
        <input> [(ngModel)] ="selectedDemon.name" placeholder ="name"/>
    </div>
    </div>