<!--Navbar-->


<div id="wrapper">
    <my-navbar>
    </my-navbar>



<!--Sidebar-->
<div id="wrapper">
    <my-sidebar>
    </my-sidebar>

    <!--Content-->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <h1> {{title}} </h1>

                    <h2>My Demons</h2>
                    <ul class="demons">
                        <li *ngFor='let d of Demons' [class.selected]="d === selectedDemon" (click)="onSelect(d)">
                            <span class="badge">{{d.id}} </span> {{d.name}}
                        </li>
                    </ul>

                    <div class="demonDetails" *ngIf="selectedDemon">
                        <h2> {{selectedDemon.name}} details! </h2>
                        <div><label>id:</label>{{selectedDemon.id}}</div>

                        <div class="inputDetails">
                            <label>name:</label>
                            <input [(ngModel)]="selectedDemon.name" placeholder="name" />
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
</div>
