


<div id='menu' class='navbar navbar-default'>
    <div class='navbar-header'>
        <button class='btn btn-sucess navbar-toggle' data- toggle='collapse' data- target='.navbar-collapse'> <span class ='glyphicon glyphicon-chevron-down' > </span></button>
        <div id='logo'>
            <h1><a href='#'> How to adult</h1></a>
                            </div>
                            </div>




                            <div class='navbar-collapse collapse' >
                                <ul class='nav navbar-nav navbar-right' >
                                    <li class='nav active' > <a href='#' > Home </a></li>
                                        <li class='nav' > <a href='#' > About </a></li >
                                            <li class='nav' > <a href='#' > Contact </a></li>
                                                </ul>
                                                </div>


                                                </div>  
            
